.container_main_top {
  background-color: white;
  height: 600px;
}
.container_designed {
  background-color: grey;
  height: 600px;
}
.container_features {
  background-color: white;
  height: 400px;
}
/* regole generali */
.left {
  margin-left: 90px;
}
/* header_top */
.header_top {
  position: relative;
  position: fixed;
  background-color: white;
  line-height: 50px;
  width: 100%;
  z-index: 3;
}
.header_top  a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.header_top li:hover a {
  color: blue;
}
.logo img {
  width: 200px;
  cursor: pointer;
}
.burger_menu {
  min-width: 100px;
  color: #0069FF;
  font-size: 30px;
}
.btn {
  border-color: #0069FF;
  color: #0069FF;
  background-color: white;
}
.btn:hover a {
  background-color: #0069FF;
  color: white;
}
/* header bottom */
.header_bottom {
  padding-top: 200px;
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}
.title_welcome {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.p_welcome {
  font-size: 25px;
  color: #CCDBFF;
}
.container_form {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}
.title_form {
  text-align:center;
  font-weight: bold;
}
.h2_form {
  text-align: center;
  color: blue;
  font-weight: bold;
}
.btn_form {
  margin-top: 15px;
  width: 100%;
  background-color: #0049FF;
  color: white;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
}
.btn_google {
  position: relative;
  margin-top: 15px;
  width: 100%;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
  color: #0049FF;
  background-color: white;
}
.img_form {
  position: absolute;
  top:50%;
  left:10px;
  transform: translateY(-50%);
  height:80%;
}
.p_bottom_form {
  text-align: center;
}
.therm {
  color: blue;
  text-decoration: underline;
}
/* sezione loghi */
.container_loghi {
  background-color: #F3F5F9;
}
.box_logo {
  height: 80px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.logo1 {
  background-image: url(../img/docker.png);
}
.logo2 {
  background-image: url(../img/gitlab.png);
}
.logo3 {
  background-image: url(../img/slack.png);
}
.logo4 {
  background-image: url(../img/hashicorp.png);
}
.logo5 {
  background-image: url(../img/wework.png);
}
.logo6 {
  background-image: url(../img/splunk.png);
}
.title_loghi {
  text-transform: uppercase;
  font-size: 14px;
  color: #A5AEC2;
}
.p_loghi a {
  color: #0069ff;
  text-decoration: none;
  cursor: pointer;
}
.p_loghi {
  margin-top: 30px;
}
.fa-chevron-left {
  margin-left: 10px;
}
