.header_top {
  background-color: red;
  height: 50px;
}
.header_bottom {
  background-color: blue;
  height: 500px;
}
.container_loghi {
  background-color: grey;
  height: 150px;
}
.container_main_top {
  background-color: white;
  height: 600px;
}
.container_designed {
  background-color: grey;
  height: 600px;
}
.container_features {
  background-color: white;
  height: 400px;
}
