
.container_loghi {
  background-color: grey;
  height: 150px;
}
.container_main_top {
  background-color: white;
  height: 600px;
}
.container_designed {
  background-color: grey;
  height: 600px;
}
.container_features {
  background-color: white;
  height: 400px;
}
/* regole generali */
.left {
  margin-left: 90px;
}
/* header_top */
.header_top {
  position: fixed;
  background-color: white;
  line-height: 50px;
  width: 100%;
  z-index: 3;
  cursor: pointer;
}
a {
  color: black;
  font-weight: bold;
}
.header_top ul li a {
  text-decoration: none;
  font-weight: bold;
}
.header_top ul li a:hover {
  color: blue;
}
.logo img {
  width: 200px;
}
.btn {
  border-color: #0069FF;
  color: #0069FF;
  background-color: white;
}
.btn:hover {
  background-color: #0069FF;
  color: white;
}
/* header bottom */
.header_bottom {
  padding-top: 200px;
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}
.title_welcome {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.p_welcome {
  font-size: 30px;
  color: #CCDBFF;
}
.container_form {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}
.title_form {
  text-align:center;
  font-weight: bold;
}
.h2_form {
  text-align: center;
  color: blue;
  font-weight: bold;
}
.btn_form {
  margin-top: 15px;
  width: 100%;
  background-color: #0049FF;
  color: white;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
}
.btn_google {
  margin-top: 15px;
  width: 100%;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
  color: #0049FF;
  background-color: white;

}
.img_form {
  width: 20px;
}
.p_bottom_form {
  text-align: center;
}
.therm {
  color: blue;
  text-decoration: underline;
}
